.detail-characteristic-table {
  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    
    &:nth-child(odd) {
      background: #f4f4f4;
    }
  }
  
  &__cell {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 15px;

    &_property {
      flex-grow: .4;
      color: #626262;
    }

    &_value {
      flex-grow: .6;
      color: #000000;
      text-align: right;
    }
  }
}