.discount {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 17px;
  background: #FF6060;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
  color: #FFFFFF;
  padding: 0 10px;
}