.min-photo-slide {
  position: relative;
  width: 60px !important;
  height: 60px;
  padding: 1px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  &.slide-active {
    background: $bg;
    background: $bg-grad;
  }
}