.min-photo-slider-button {
  height: 60px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

  &.swiper-button-disabled {
    opacity: .5;
  }

  &.right {
    order: 3;
  }
}