* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background: #fbf9f9;
  font-family:  Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

svg {
  flex-shrink: 0;
  display: block;
}

img {
  flex-shrink: 0;
  display: block;
}

canvas {
  display: block;
}